name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "0.8.5"

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run checks
        run: make check

      - name: Run tests
        run: make test

  docs:
    runs-on: ubuntu-latest
    env:
      FOOTER_VERSION: ${{ github.ref_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Set up uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "0.8.5"

      - name: Generate API documentation
        run: uv run pdoc kosong --docformat google --footer-text "kosong ${FOOTER_VERSION}" -o docs

      - name: Upload docs preview
        uses: actions/upload-artifact@v4
        with:
          name: docs-preview
          path: docs
